<style>
.famfamfam-flags {
    display: inline-block;
    margin-right: 6px;
    width: 56px;
}
.form-material .form-bar {
    position: relative;
    display: block;
    width: 100%;   
}
.error{
  color:red;
  text-align: center;
}
form{
  width: 20%;   
  margin-left: 42%;
  margin-top: 10%;
}

</style>

    <div class="row ">
     <div class="col-lg-12">
       <div class="auth-box card">
        <div class="card-block" mdbRippleRadius>
         <div class="general-info form-material">

          <form  (ngSubmit)="onSubmit()">
            <div class="row">            

              <div class="col">
                 <div class="material-group">
                   <div class="form-group form-primary">
                     <input type="text" name="footer-email" [(ngModel)]="name" name="name" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Name<span style="color:red;">*</span></label>
                      </div>
                  </div>
              </div>

              <div class="col">
                 <div class="material-group">
                   <div class="form-group form-primary">
                     <input type="text" name="footer-email" [(ngModel)]="email" name="email" class="form-control" required="">
                      <span class="form-bar"></span>
                      <label class="float-label">Email<span style="color:red;">*</span></label>
                      </div>
                  </div>
              </div>

              <div class="col">
                <div class="material-group">
                   <div class="form-group form-primary">
                     <input type="text" name="footer-email" [(ngModel)]="mobile" name="mobile" class="form-control" required="">
                    <span class="form-bar"></span>
                    <label class="float-label">Mobile Number<span style="color:red;">*</span></label>
                    </div>
                </div>
              </div>

            </div>
           
            <div class="error">
             {{error}} 
            </div>

            <div class="row" style="margin-top: 20px">
              <div class="col ">                
                <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="submit" style="margin-top: 5px;margin-left: 10px"  >Save</button>
              </div>
            </div>

          </form>
        </div>
      </div>
     </div>
   </div>
 </div>


